.App {
  text-align: center;
}

.tooltip {
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}

body {
  background-color: #22272e;
}

h1 {
  color: #adb9c7;
}

.instructions {
  color: #adb9c7;
}

h2 {
  margin-bottom: 0;
}

.day {
  stroke: rgba(255, 255, 255, 0.05);
  stroke-width: 10px;
}

.heatmap-container {
  margin-top: 20px;
  padding-top: 0px;
}

.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.legend-background {
  margin-right: 10px; /* Adjust spacing between legend items */
}

.legend-text {
  display: flex;
  flex-direction: column;
}

.legend-text div {
  margin-bottom: 5px;
  color: #333;
}

.footer {
  background-color: #2c323a;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
